.signIn{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(210, 253, 253);
    font-family: cursive;
}
.signIn-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.signIn-bottom-left{
    display: flex;
    align-items: center;
}
.signIn-bottom-left img{
    height: 400px;
    margin-left: 100px;
}
.signIn-bottom-right{
    height: 100%;
    display: flex;
    align-items: center;
}
.signIn-bottom-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 200px;
}
.signIn-bottom-right-form-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signIn-bottom-right-form-heading img{
    height: 107px;
    width: 160px;
}
.signIn-bottom-right-form-label{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: red;
    font-size: 17px;
    font-weight: 500;
}
.signIn-bottom-right-form-label input{
    height: 30px;
    width: 300px;
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: 1px black solid;
    margin-top: -15px;
}
.signIn-bottom-right-form-button input{
    height: 35px;
    width: 130px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0px;
    cursor: pointer;
    background-color: #2eca2e;
    color: #fff;
}
.signIn-bottom-right-form-button input:hover{
    background-color:rgb(37, 228, 37);
}
.signIn-bottom-right-form-login{
    font-size: 17px;
}
.signIn-bottom-right-form-login a{
    text-decoration: none;
    color:blue;
    margin-left: 5px;
}
.signIn-bottom-right-form-login a:hover{
    color: red;
    font-weight: 600;
}